<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-task-heading" data-cy="TaskCreateUpdateHeading" jhiTranslate="testApp4App.task.home.createOrEditLabel">
        Create or edit a Task
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp4App.task.taskName" for="field_taskName">Task Name</label>
          <input type="text" class="form-control" name="taskName" id="field_taskName" data-cy="taskName" formControlName="taskName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp4App.task.startTime" for="field_startTime">Start Time</label>
          <div class="input-group">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="text"
              class="form-control"
              name="startTime"
              ngbDatepicker
              #startTimeDp="ngbDatepicker"
              formControlName="startTime"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startTimeDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp4App.task.endTime" for="field_endTime">End Time</label>
          <div class="input-group">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="text"
              class="form-control"
              name="endTime"
              ngbDatepicker
              #endTimeDp="ngbDatepicker"
              formControlName="endTime"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
